/*Color overrides*/
.purple {color:#5F4B8B;}
.light-purple {color: #806baf;}
.dark-purple {color: #322749;}
.bg-light-purple{ background-color: #806baf;}
.silver{color:#777777;}

.tracked-tight {letter-spacing: -.032em;}


/*Padding bottom negative*/

.mb-neg{margin-bottom: -10px;}
